/* Required */
img.colorify:not(.visible) {
  opacity: 0;
  filter: blur(3px);
}

img.colorify:not(.all-loaded).all-not-loaded {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}


#header {
	position: absolute;
	z-index: 6;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	padding: 0;
	/*box-shadow: 0px 0px 3px #000;*/
}


#wrapp {
	position: absolute;
	z-index: 1;
	top: 15%;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	min-height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;

	text-align: center;

    -webkit-transform:translate3d(0,0,0);
}

.arr{
	width: 10%;
	position: absolute;
	left: 50%;
	bottom: 5%;
	margin: 0 0 0 -5%;
	z-index: 9;
}


/* --- index --- */
#index #header {
	position: absolute;
	z-index: 6;
	top: 8%;
	left: 0;
	width: 100%;
	height: 15%;
	padding: 0;
	/*box-shadow: 0px 0px 3px #000;*/
}


#index #wrapp {
	position: absolute;
	z-index: 1;
	top: 23%;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.indexCon{
	width: 100%;
	height: 100%;
	background:#fff url("../imgs/abstract.jpg") no-repeat center 0;
	background-size: 80% auto;
	display: inline-block;
}

.enterBtn{
	width: 70%;
	position: absolute;
	left: 50%;
	bottom: 12%;
	margin: 0 0 0 -35%;
}



/* --- home --- */
.photo li{
	width: 100%;
	display: inline-block;
	position: relative;
}

.photo li .pli_con{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.photo li .pli_con .lileft{
	width: 58%;
	height: 100%;
	float: left;
	display: inline-block;
}

.photo li .pli_con .liright{
	width: 42%;
	height: 100%;
	float: left;
	display: inline-block;
}

.pli_con a{
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
}

#home li:nth-child(1) a:nth-child(1){
	width: 54.5%;
}

#home li:nth-child(1) a:nth-child(2){
	width: 45.5%;
}


#home li:nth-child(2) a{
	width: 42%;
	height: 100%;
}

#home li:nth-child(2) .lileft a:nth-child(1){
	width: 100%;
	height: 47%;
}

#home li:nth-child(2) .lileft a:nth-child(2){
	width: 100%;
	height: 53%;
}


#home li:nth-child(3) a{
	width: 42%;
	height: 100%;
}

#home li:nth-child(3) .lileft a:nth-child(1){
	width: 100%;
	height: 53%;
}

#home li:nth-child(3) .lileft a:nth-child(2){
	width: 100%;
	height: 47%;
}


#home li:nth-child(6) a:nth-child(1){
	width: 43%;
}

#home li:nth-child(6) a:nth-child(2){
	width: 57%;
}


#home li:nth-child(7) a:nth-child(1){
	width: 50.5%;
}

#home li:nth-child(7) a:nth-child(2){
	width: 49.5%;
}


#home li:nth-child(8) a:nth-child(1){
	width: 52%;
}

#home li:nth-child(8) a:nth-child(2){
	width: 48%;
}


/* -------- exhibition -------- */

#exhibition li:nth-child(1) a:nth-child(1){
	width: 100%;
	height: 100%;
}

#exhibition li:nth-child(2) a{
	width: 100%;
	height: 100%;
}

#exhibition li:nth-child(3) a:nth-child(1){
	width: 52%;
}

#exhibition li:nth-child(3) a:nth-child(2){
	width: 48%;
}

#exhibition li:nth-child(4) a:nth-child(1){
	width: 52%;
}

#exhibition li:nth-child(4) a:nth-child(2){
	width: 48%;
}

#exhibition li:nth-child(5) a:nth-child(1){
	width: 57%;
}

#exhibition li:nth-child(5) a:nth-child(2){
	width: 43%;
}

.photo#exhibition li:nth-child(6)  .pli_con .lileft{
	width: 56%;
}

.photo#exhibition li:nth-child(6)  .pli_con .lileft a:nth-child(1){
	height: 52%;
}

.photo#exhibition li:nth-child(6)  .pli_con .lileft a:nth-child(2){
	height: 48%;
}

.photo#exhibition li:nth-child(6)  .pli_con .liright{
	width: 44%;
}

.photo#exhibition li:nth-child(6)  .pli_con .liright a:nth-child(1){
	height: 38%;
}

.photo#exhibition li:nth-child(6)  .pli_con .liright a:nth-child(2){
	height: 62%;
}






/* --- zoom --- */
.imgInfo{
	width: 100%;
	position: relative;
	font-family: "黑体", "STHeiti", "Arial";
	opacity: 0;
}

.workDetailed{
	height: 86%;
	position: fixed;
	left: 0;
	top: 14.6%;
	opacity: 1;
	z-index: 10;
	background: #fff;
	text-align: center;
	line-height: 1.8rem;
	display: none;
}

.imgInfo h1{
	font-size: 1.4rem;
	width: 100%;
	line-height: 2.0rem;
	font-family: Arial;
	font-weight: bold;
}

.imgInfo h1 em{
	width: 100%;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0 0 2% 0;
}

.zoomArea{
	width: 100%;
	display: inline-block;
	position: relative;
}

#zoom{
	margin: 6% 0;
}

.zoomtips{
	width: 100%;
	position: absolute;
	bottom: 3%;
}

.introFooter{
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 0;
	display: none;
}

.zoomtips img{
	width: 27%;
	display: inline-block;
}

.introFooter a{
	width: 36%;
	display: inline-block;
}

.introFooter a img{
	width: 52%;
	display: inline-block;
}

.zoomStatus{
	width: 12%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -6% 0 0 -6%;
}

.backBtn{
	width: 14%;
	position: absolute;
	left: 6%;
	top: -1%;
	z-index: 12;
	background: url("../../vstyle/imgs/backBtn.png") no-repeat left center;
	background-size: 16% auto;
	color: #000;
	font-size: 1.4rem;
	padding: 0 0 0 3%;
}

.mirror{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
}

.narrowIcon{
	width: 12%;
	position: absolute;
	left: 50%;
	bottom: 12%;
	margin: 0 0 0 -6%;
	z-index: 10;
	display: none;
}

/* gallery */
.gallerySlide{
	width: 100%;
	height: 78%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

.gallery_info .introFooter{
	display: inline-block;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bShowImg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.bShowImg img{
	width: 100%;
	display: inline-block;
}

.photoInfo{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0;
	background: #fff;
	z-index: 6;
	font-family: "黑体";
	display: none;
}

.photoInfo h2{
	width: 80%;
	padding: 6% 0;
	display: inline-block;
	font-size: 1.8rem;
}

.photoInfo_con{
	width: 80%;
	height: 78%;
	overflow: auto;
	display: inline-block;
	font-size: 1.3rem;
	line-height: 2.0rem;
	text-align: left;
}

.photoInfo_con p{
	padding: 2% 0;
	width: 100%;
	display: inline-block;
	text-align: justify;
}

.photoInfo_con p b{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	display: inline-block;
}




/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {

}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {

}

/* 5s */

@media handheld and (min-height:490px),screen and (max-height:510px) {

}

/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {

	#header {
		height: 16%;
	}

	#wrapp {
		top: 16%;
	}

	.workDetailed{
		height: 88%;
		top: 13%;
	}

	.zoomtips{
		bottom: -2%;
	}

}







.zoomStatus{
    -webkit-animation: handsAni 2s infinite ease-in-out;
    -moz-animation: handsAni 2s infinite ease-in-out;
    animation: handsAni 2s infinite ease-in-out;
}



/**
 * = animate 动画样式
 *******************************************************************************************************/
/*箭头指示引导*/
@-webkit-keyframes handsAni {
  0%,30% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes handsAni {
  0%,30% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes handsAni {
  0%,30% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}




